/* 轻量登录框 */
.pop-login .pop-win-inner
    width: 370px
    padding-right: 0
    .form-block
        .note
            margin-left: 10px
            line-height: 23px
        .form-txt
            width: 190px
            color: #000
        .form-default
            color: #bbb
        .label
            width: 60px
    .fn
        position: relative
        top: -25px
        margin-left: 10px
        color: #66c
    .form-content-block
        margin-left: 0
        padding-left: 69px
    .form-btn-block
        padding-left: 69px

