.toolbar .quick-arrow,.toolbar .bar-logo,.quick-name,.mobile-tips .mobile-arrow,.mobile-tips .mobile-close
  background-image: url(i/toolbar-sprite.png)
  background-repeat: no-repeat

.toolbar-box
  background-color: #313131
  height: 35px
  z-index: 400

.toolbar
  width: 960px
  margin: 0 auto

.toolbar .bar-logo
  width: 79px
  height: 25px
  float: left
  margin-top: 5px

.toolbar .bar-logo strong
  display: none

.toolbar a
  color: #bbb

.toolbar a:hover
  text-decoration: none
  color: #fff

.toolbar .quick-menu
  float: right

.toolbar .quick-menu li
  position: relative
  float: left
  padding-top: 1px

.toolbar .first
  border-top: 1px solid #eaeaea

.toolbar .quick-menu li .item
  padding: 8px 12px
  display: block

.toolbar .quick-arrow
  width: 13px
  height: 5px
  background-position: -187px 0
  display: inline-block
  *display: inline
  overflow: hidden
  zoom: 1
  vertical-align: middle
  *height: 12px
  *vertical-align: -3px
  _height: 20px
  _background-position: -187px 6px

.toolbar .sub-menu
  border: 1px solid #313131
  border-top: 0
  padding: 0 1px
  background-color: #f8f8f8
  position: absolute
  left: 0
  top: 35px
  z-index: 101
  min-width: 93px
  _width: 93px
  white-space: nowrap
  visibility: hidden

.toolbar .sub-menu li
  float: none
  padding-top: 0
  display: block

.toolbar .sub-menu li a
  color: #666
  padding: 5px 10px
  display: block
  _zoom: 1

.toolbar .sub-menu li a:hover
  color: #111
  background-color: #eaeaea

.toolbar .sub-menu li .col-digit
  color: #f28007
  margin-right: 3px

.toolbar .quic-info
  padding: 1px 2px
  background-color: #f28007
  border-radius: 3px
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  margin-left: 2px
  color: #fff
  font-weight: bold

.toolbar .quick-menu .active .item
  border: 1px solid #313131
  border-bottom: 0
  background-color: #f8f8f8
  color: #666
  padding: 8px 11px 0
  height: 25px
  _display: inline
  overflow: hidden
  zoom: 1

.toolbar .quick-menu .active .item:hover
  color: #111

.mobile-tips
  position: absolute
  color: #8b8b8b
  border: 1px solid #eacaa5
  background-color: #fffae3
  top: 35px
  min-width: 170px
  _width: 170px

.mobile-tips .mobile-txt
  position: relative
  zoom: 1
  padding: 5px 27px 5px 10px

.mobile-tips .mobile-txt a
  padding: 0

.mobile-tips .mobile-arrow
  position: absolute
  top: -7px
  left: 20px
  width: 11px
  height: 7px
  background-position: -83px 0

.mobile-tips .mobile-close
  position: absolute
  right: 10px
  top: 9px
  width: 10px
  height: 10px
  background-position: -100px 0

.toolbar-simple
  background-color: #f8f8f8
  border-bottom: 1px solid #eaeaea

.toolbar-simple .toolbar a
  color: #666

.toolbar-simple .toolbar a:hover
  color: #111

.toolbar-simple .toolbar .sub-menu
  border-color: #bbb
  background-color: #f8f8f8

.toolbar-simple .toolbar .quick-menu li a.active
  border-color: #bbb

.toolbar-simple .toolbar .bar-logo
  background-position: 0 -25px
  color:#333

