.pop-panel
    position: absolute
    visibility: hidden
    border: 1px solid #f8cfa5
    padding: 5px 9px
    background: #fff
    color: #61646e

.pop-panel a
    color: #61646e

.pop-panel a:hover
    text-decoration: underline
    color: #c00

.pop-panel .close
    position: absolute
    right: 7px
    top: 7px
    width: 16px
    height: 16px
    text-indent: -9999px
    background-position: -67px -252px

.pop-panel .close:hover
    background-position: -87px -232px
    background-color: #fff

.pop-panel .title
    margin: -5px -9px 15px -9px
    padding: 0 9px
    line-height: 30px
    background: #faf7eb

.pop-panel .title .title-main
    display: inline
    margin-right: 10px
    font-size: 1.2em
    color: #c00

.pop-panel .title .title-misc
    font-size: 12px
    color: #111

.pop-panel .title a.title-misc
    padding: 0 1px
    color: #66c

.pop-panel .title a.title-misc:hover
    color: #fff
    background: #66c

.pop-panel .more
    text-align: right

.pop-panel .more a
    color: #66c
    background-image: none

.pop-panel .more a:hover
    color: #fff
    background: #66c

.pop-panel p
    margin-bottom: 5px
    color: #61646e

.pop-win .dialog-btns,
.pop-win-inner .form-block,
.pop-win-inner .form-btn-block,
.pop-win-inner .form-item-list li
    zoom: 1

.pop-win .dialog-btns:before,
.pop-win-inner .form-block:before,
.pop-win-inner .form-btn-block:before,
.pop-win-inner .form-item-list li:before,
.pop-win .dialog-btns:after,
.pop-win-inner .form-block:after,
.pop-win-inner .form-btn-block:after,
.pop-win-inner .form-item-list li:after
    content: ""
    display: table

.pop-win .dialog-btns:after,
.pop-win-inner .form-block:after,
.pop-win-inner .form-btn-block:after,
.pop-win-inner .form-item-list li:after
    clear: both

.pop-win .close
    background-image: url(i/comm.png)
    background-repeat: no-repeat

.pop-win
    position: absolute
    zoom: 1
    background-color: #f8cfa5
    overflow: visible
    padding: 1px
    text-align: left
    -webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.2)
    box-shadow: 1px 1px 8px rgba(0,0,0,0.2)

.pop-win .close
    position: absolute
    right: 7px
    top: 7px
    width: 16px
    height: 16px
    text-indent: -9999px
    background-position: -67px -252px

.pop-win .close:hover
    background-position: -87px -252px
    background-color: #faf7eb

.pop-win .wrap
    background-color: #fff
    clear: both
    width: 100%
    height: 100%
    overflow: hidden

.pop-win .image-wrap,
.mbox-window .iframe-wrap
    overflow: visible

.pop-win .image-wrap img
    display: block

.pop-win .dialog-title
    height: 28px
    padding: 0 10px
    font: normal 14px Tahoma
    line-height: 28px
    color: #c00
    background: #faf7eb

.pop-win .dialog-cont
    color: #333
    font-size: 12px
    line-height: 18px
    margin: 10px 10px 0 10px
    padding-bottom: 18px

.pop-win .dialog-btns
    zoom: 1
    margin: 0 28px 15px 10px

.pop-win .dialog-btns:before,
.pop-win .dialog-btns:after
    content: ""
    display: table

.pop-win .dialog-btns:after
    clear: both

.pop-win .dialog-btns a
    float: right
    margin-left: 5px

.pop-win .comment-form
    padding-top: 10px
    margin: 0 10px 0

.pop-win .comment-form .label
    width: 65px
    margin-right: 0
    text-align: left

.pop-win .comment-form .form-txt,
.pop-win .comment-form .form-textarea
    width: 285px
    margin: 0

.pop-win .tagtitle
    width: 55px
    margin-right: 0
    text-align: left

.pop-win .form-block a
    color: #66c

.pop-win .form-block .tagdiv
    margin-top: 15px

.pop-win .form-block .taglist
    display: block
    margin-left: 65px
    margin-right: 0
    line-height: 1.5
    zoom: 1
    overflow: hidden
    width: 290px

.pop-win .form-block .taglist a
    margin-bottom: 5px
    white-space: nowrap

.pop-msg-box
    display: block
    height: 22px
    margin: -5px -5px -19px
    padding: 0
    text-align: center
    line-height: 22px
    border: 1px solid

.pop-note-box
    display: block
    margin: 15px -5px -13px
    padding: 2px 7px
    text-align: left
    line-height: 1.6
    color: #999
    border: 1px solid #efe0d7
    background-color: #fff9f1

.pop-note-box a
    color: #66c

.pop-note-box a:hover
    color: #fff
    background: #66c

.pmb-error
    color: #c00
    border-color: #ffb6b6
    background-color: #fff2f2

.pop-msg-wrapper
    padding: 17px 0 29px
    text-align: center

.pop-msg-wrapper p
    margin-bottom: 27px
    font-size: 1.2em

.pop-msg-wrapper p .pm-mark
    margin-right: 20px
    padding: 2px 0 2px 25px

.pop-msg-wrapper p a
    font-size: 12px

.pop-msg-wrapper .pop-note-box
    margin: 15px -15px -42px

.pop-btn-wrapper
    text-align: center

.pop-win .dialog-title .title-misc
    padding-left: 10px
    font-size: 12px
    color: #999

.pop-win .dialog-title .title-misc a
    color: #66c

.pop-win .dialog-title .title-misc a:hover
    color: #fff
    background: #66c

.pop-win-inner
    width: 360px
    padding: 23px 10px 0

.pop-win-inner p
    margin-bottom: 3px

.pop-win-inner p a
    color: #66c

.pop-win-inner p a:hover
    color: #fff
    background: #66c

.pop-win-inner .note
    color: #999

.pop-win-inner .form-intro
    margin-bottom: 17px

.pop-win-inner .form-block
    zoom: 1
    margin-bottom: 10px

.pop-win-inner .form-block:before,
.pop-win-inner .form-block:after
    content: ""
    display: table

.pop-win-inner .form-block:after
    clear: both

.pop-win-inner .form-block .label
    float: left
    position: relative
    top: 4px \9
    _top: 2px
    width: 60px
    margin-right: 9px
    text-align: right

.pop-win-inner .form-block .form-txt
    float: left
    width: 281px
    _width: 281px
    height: 23px
    margin: 0
    padding: 0 4px
    line-height: 23px

.pop-win-inner .form-block .form-txt-s
    width: 139px

.pop-win-inner .form-block .form-textarea
    float: left
    width: 281px
    margin: 0
    padding: 2px 4px
    line-height: 1.55

.pop-win-inner .form-block .form-select
    float: left
    width: 190px
    _width: 190px
    height: 25px
    margin: 1px 0 0
    padding: 3px 2px 3px 0
    font-size: 12px
    line-height: 24px
    border: 1px solid #ccc

.pop-win-inner .form-block .form-select-s
    width: 100px

.pop-win-inner .form-block .form-select-m
    width: 125px

.pop-win-inner .form-block .row3fix
    height: 55px

.pop-win-inner .form-btn-block
    zoom: 1
    margin-top: 20px
    padding-left: 69px

.pop-win-inner .form-btn-block:before,
.pop-win-inner .form-btn-block:after
    content: ""
    display: table

.pop-win-inner .form-btn-block:after
    clear: both

.pop-win-inner .form-btn-block *
    float: left

.pop-win-inner .form-btn-block span
    margin-right: 15px

.pop-win-inner .form-btn-block .fn
    margin-top: 5px \0
    color: #66c

.pop-win-inner .form-btn-block .fn:hover
    color: #fff
    background: #66c

.pop-win-inner .form-btn-block .btn-type-a a
    line-height: 26px \0
    *line-height: 25px
    _line-height: 24px

.pop-win-inner .form-content-block
    margin-left: 69px

.pop-win-inner .form-item-list
    margin-bottom: 20px

.pop-win-inner .form-item-list li
    zoom: 1
    margin-bottom: 6px
    *margin-bottom: 3px

.pop-win-inner .form-item-list li:before,
.pop-win-inner .form-item-list li:after
    content: ""
    display: table

.pop-win-inner .form-item-list li:after
    clear: both

.pop-win-inner .form-item-list li label
    float: left
    margin-top: 2px \0
    *margin-top: 2px

.pop-win-inner .form-item-list li input
    float: left
    margin-right: 7px

.pop-win-misc
    margin-top: 20px
    padding-top: 15px
    border-top: 1px dashed #e4e4e4

.pop-btn-wrapper span
    margin-right: 2px

.pop-btn-wrapper .btn-type-a a
    line-height: 26px \0
    *line-height: 25px
    _line-height: 24px

.pop-win-inner fieldset
    margin-bottom: 20px
    padding: 12px 15px 4px
    background: #f3f3f3

.pp_msg
    padding: 10px 15px
    width: 110px
    z-index: 552

.header-bar .pp_msg
    left: 0
    top: 28px

.pp_group-nav
    width: 90px

.pop-msg-item
    float: left
    width: auto !important
    padding: 20px

.pop-msg-item a
    color: #66c

.pop-msg-item a:hover
    color: #fff
    background: #66c

.pop-msg-item .dialog-cont
    margin: 0

.mbox_overlay
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    background-color: #000
    z-index: 1001
    zoom: 1
    opacity: 0.2
