/* 举报报错 */
$top7
    display: block
    clear: both
    float: right
    margin-top: 7px

.pop-report .pop-win-inner
    width: auto
    .chk-list 
        li
            clearfix()
            margin-bottom: 8px
            .chk-item
                margin: 0 5px 0 0
                position: relative
                top: 3px
        label
            @extend $top7
        .form-block .form-txt
            @extend $top7
            width: 201px
        .form-block textarea
            @extend $top7
            width: 197px